@charset "utf-8";
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */ 
@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 100; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
}
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 300; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
}
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
}
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
}
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 700; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
}
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 900; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
}

/*공통사항*/
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-size: 14px;font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: inherit;}
ul,li{list-style-type: none;}
table{border-collapse: collapse;text-align: center;}
html{background-color: #fafafa;}
#container{background-color: #fafafa;width: 100%; color: #333;}

i{color: #fff;margin-right: 5px;width: 16px;}

.top_nav{float: right;}
.top_nav li{display: inline-block; color: #fff; margin-right: 15px; line-height: 34px;}

.nav_space{width: 200px; float: left; background-color: #424242; min-height: 100vh;}
#nav{width: 200px; float: left; background-color: #424242; color: #fff; min-height: 100vh; position: fixed; left: 0; top: 0;}
#nav .logo{height: 54px;}
#nav .logo a{display: block;height: 54px;margin: 0 auto;}
#nav .logo img{display: block; width: 90%; height: auto; margin: 0 auto; position: relative; top: 50%; transform: translateY(-50%);}
#nav .nav_title{padding: 10px 20px; font-size: 13px; height: 60px; line-height: 40px; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}
#nav .nav_title span:last-child{}
#nav a{color: #ccc;}
#nav .nav_sub:hover a{color: #fff;}
#nav .na_title{padding: 10px 20px; cursor: pointer;}
#nav .na_title:nth-of-type(odd)::after{content: ""; width: 7px; height: 7px; display: inline-block; border-style: solid; border-color: #eeeeee; border-width: 0px 1.5px 1.5px 0px; transform: rotate(45deg) translate(-50%); float: right; margin-top: 5px;transition: transform 0.5s ease;}
#nav .na_title.on:nth-of-type(odd)::after{transform: rotate(-135deg);margin-right: 3px;}
#nav .na_title.dep2::after{display: none;}
#nav .na_title:hover,#nav .nav_sub:hover{background-color: #111;}
#nav .na_title.on,#nav .nav_sub.on{background-color: #111;}
#nav .na_title.on{border-left: 3px solid #c7ff82;}
#nav .na_title.on i{color: #c7ff82;}
#nav .na_title.dep2{background-color: #333;padding: 0;}
#nav .nav_sub{padding: 8px 30px 8px 45px; font-size: 0.95em;}
#nav .nav_sub a{width: 100%; display: block;}
#nav .fa-sign-out-alt{vertical-align: middle;float: right; line-height: 40px;}
input[type=file]{width: 200px;}
#con{width: calc(100% - 200px); float: left;background-color: #fafafa;}
#con > div{box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}
#con .con_title{width: 100%; background-color: #fff; padding: 10px 30px; height: 60px; line-height: 40px; color: #333;}
#con .con_title h2, #con .con_title .title_nav{display: inline-block; vertical-align: middle;}
#con .con_main{width: 1200px; background-color: #fff; margin: 20px 0 20px 30px; border-radius: 0px;}
#con .con_main form{border: 0px solid #ddd;}
#con th{padding: 10px 0; border-bottom: 2px solid #ddd; color: #333;}
#con td{padding: 10px 0; border-bottom: 1px solid #eee; color: #777; max-height: 61px;}
#con tr:hover td{color: #333;}
#con .delete_box a{width: 30%;display: block; margin: 0 auto; padding: 3px 0; background-color: rgb(255, 73, 73); border-radius: 5px; border: 1px solid rgb(200, 73, 73); color: #ddd; display: inline-block; margin: 0 1.2%;}
#con .delete_box a:hover{color: #fff;}
#con .create{width: 9.4%; display: inline-block; margin-top: 15px;}
#con .create a{width: 72px;display: block; margin: 0 auto; padding: 3px 0; background-color: rgb(85, 226, 66); border-radius: 5px; border: 1px solid rgb(98, 200, 73); color: #fff;text-align: center;margin-right: 26px;}
.no_arrow::after{display: none !important;}
.header{height: 54px; background-color: #242424; padding: 10px 30px;}
.header .bars{cursor: pointer; display: inline;}
.header .bars i{line-height: 34px;}

/*에디터*/
.input_box{text-align: center;}
.input_box input[type=submit]{width: 60px; margin: 10px 5px; padding: 5px 0;background-color: rgb(85, 226, 66);border-radius: 5px;border: 1px solid rgb(98, 200, 73);color: #fff;text-align: center;}
input[type=submit]{width: 60px; margin: 10px 5px; padding: 5px 0;background-color: rgb(85, 226, 66);border-radius: 5px;border: 1px solid rgb(98, 200, 73);color: #fff;text-align: center;}
input[type=button]{width: 120px; margin: 10px 5px; padding: 5px 0;background-color: rgb(85, 226, 66);border-radius: 5px;border: 1px solid rgb(98, 200, 73);color: #fff;text-align: center;}
.input_box input[type=reset]{width: 60px; margin: 10px 5px; padding: 5px 0;background-color: rgb(255, 73, 73);border-radius: 5px;border: 1px solid rgb(200, 73, 73);;color: #fff;text-align: center;}

/*페이징*/
.paging{text-align: center; margin-top: 15px; padding-bottom: 20px;font-family: '맑은고딕','Malgun Gothic', sans-serif;width: 90%; display: inline-block;}
.paging li{margin: 0 3px; display: inline-block; width: 20px; height: 20px; line-height: 20px; vertical-align: middle; text-decoration: none;border: 1px solid #dbdbdb; color: #767676; font-size: 12px;font-weight: bold; box-sizing: unset;}
.paging li a{width: 20px; height: 20px; display: inline-block; vertical-align: top; color: #333;}
.paging li:hover{border: 1px solid #08AEEA;}
.paging li.current{color: #fff;	background: #08AEEA; border: 1px solid rgb(0, 187, 255);}
.paging li.move_page{background: url('../img/sp_btn_paging.gif') no-repeat;}
.paging .move_page.page_start{background-position: left top;}
.paging .move_page.page_prev{margin: 0 12px 0 1px; background-position: -20px 0;}
.paging .move_page.page_next{margin: 0 1px 0 12px; background-position: -40px 0;}
.paging .move_page.page_end{background-position: right top;}

/*관리자 write*/
.write_box{padding: 25px 10px;}
.write_line{width:97%; font-size: 0; margin: 0 auto;}
.all_line{font-size: 14px;border: 1px solid #ddd; padding: 10px 0; border-bottom: 0;}
.all_line.all_line_top{border-radius: 10px 10px 0 0;}
.all_line.all_line_bottom{border-bottom: 1px solid #ddd; border-radius: 0 0 10px 10px;}
.harf_line{display: inline-block; width: 50%; font-size: 16px;border: 1px solid #ddd;}
.harf_line:last-child{border-left: 0;}
.harf_line > div{display: inline-block;}
.line_title{width: 120px;padding-left: 10px;}
.line_title,.line_content{display: inline-block; vertical-align: top;}
.line_content input,.line_content select{border: 1px solid #ddd; height: 24px; padding: 0px 10px;}
.line_content label{vertical-align: middle; line-height: 24px; height: 24px;}
.line_content label input{height: auto; margin-right: 5px;}
.line_content span.set{font-size: 12px; color: rgb(255, 167, 167);}
.submit_box input{width: 80px; height: 30px;background-color: #08AEEA; border: 0 solid #dfdfdf; color: #fff;}
.submit_box input[type=reset]{background-color: #ee705a;}

/*로그인*/
#login_box{width: 400px; border: 5px solid #ccc; position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);background-color:rgba(255,255,255)}
#login_box h1{margin: 40px 0; text-align: center;}
#login_box input{float: none; display: block; margin: 10px auto; padding: 0px 7px; width: 300px; height: 50px; font-size: 16px; border: .5px solid #dddddd; box-sizing:border-box;}
#login_box input[type=submit]{margin-top:30px;margin-bottom: 50px; border: 0px; float: none; display: block; padding: 0px 7px; width: 300px; height: 54px; font-size: 16px; background-color: #4895fd; color: #fff;}

/*리스트 화살표*/
.list_arrow{position:relative;}
.list_arrow.first{top:-10px}
.list_arrow.second{margin-left: -10px;top:-5px;}
.list_arrow.third{top:5px}
.list_arrow.four{margin-left: -10px;top:10px;}

/*페이징*/
.paging{ margin-top: 0; text-align: center; float: none;}
.paging span{display: inline-block; width: 25px; height: 25px; line-height: 25px; text-align: center; color: #888888; font-size: 12px;}
.paging span button,.paging button{color: #888; border:0; background-color:#fff; cursor: pointer;}
.paging button.btn-primary{cursor: default; display: inline-block;}
.paging button.btn-primary{background-color: #3d6cb4; color: #fff; width: 25px; height: 25px;}
.paging span.on a{color: #fff;}

.btn_con,.list_con{display:inline-block;}
.number_list_con ul li{display:inline-block;}
.on { font-weight:bold; }

/*search_box*/
.g_search_outer{margin: 10px; border: 1px solid #ddd; border-radius: 5px;padding: 10px;}